@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #3c5a81;
  --color-accent: #efdba9;
  --color-surface: #f8f9fa;
  --color-text-primary: #3c5a81;
  --color-text-secondary: #6b7280;
}

@custom-variant dark (&:where(.dark, .dark *));
